if has nix; then
    if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
        source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
    fi
    use flake
else
    local NVM_PATH="$HOME/.nvm/nvm.sh"
    if ! [ -f "$NVM_PATH" ]; then
        echo "nvm not found at: $NVM_PATH"
    else
        . "${NVM_PATH}"
        nvm install
        layout node
    fi
fi
